SUPABASE_URL = "https://pupxvhkewyarpotutsto.supabase.co"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1cHh2aGtld3lhcnBvdHV0c3RvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjcxMzAwNCwiZXhwIjoyMDk4Mjg5MDA0fQ.kM1NTqd34OLlPS9wqG-3TwFJ1s9sXgx9nS9f56uDee8"
